In [27]:
import pandas as pd

# Load spreadsheet
xl = pd.ExcelFile('cleaned_data.xlsx')

# Load a sheet into a DataFrame by its name
df = xl.parse('Sheet1')

# Print the data
df

,profile_owner,profile_name,enter_by,enter_by_name,leader,leader_name,loc,order,customer_name,customer,order_date,week_number,delivery_date,ship_date,order_ack,date_acknowledge,date_acknowledgement_calc,days_to_acknowledge,On Time
0,MKIRKWOOD,MICHELE KIRKWOOD,MKIRKWOOD,MICHELE KIRKWOOD,CPEACOCK,CHRYSTAL B. PEACOCK,10,12398,UTAH BISHOP OIL P/L,30889-006,2023-10-13,41,2024-03-13,2024-03-13,E,2023-11-09,2023-11-09,19,Not on Time
1,MKIRKWOOD,MICHELE KIRKWOOD,MKIRKWOOD,MICHELE KIRKWOOD,CPEACOCK,CHRYSTAL B. PEACOCK,10,12582,UTAH BISHOP OIL P/L,30889-006,2023-10-18,42,2024-03-13,2024-03-13,E,2023-11-09,2023-11-09,16,Not on Time
2,MKIRKWOOD,MICHELE KIRKWOOD,MKIRKWOOD,MICHELE KIRKWOOD,CPEACOCK,CHRYSTAL B. PEACOCK,10,12583,UTAH BISHOP OIL P/L,30889-006,2023-10-18,42,2024-03-13,2024-03-13,E,2023-11-09,2023-11-09,16,Not on Time
3,MKIRKWOOD,MICHELE KIRKWOOD,MKIRKWOOD,MICHELE KIRKWOOD,CPEACOCK,CHRYSTAL B. PEACOCK,10,12585,UTAH BISHOP OIL P/L,30889-006,2023-10-18,42,2024-03-13,2024-03-13,E,2023-11-09,2023-11-09,16,Not on Time
4,MKIRKWOOD,MICHELE KIRKWOOD,MKIRKWOOD,MICHELE KIRKWOOD,CPEACOCK,CHRYSTAL B. PEACOCK,10,12586,UTAH BISHOP OIL P/L,30889-006,2023-10-18,42,2024-03-13,2024-03-13,E,2023-11-09,2023-11-09,16,Not on Time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21932,KROGERS,KEENA ROGERS,BRAGLAND,BREANNA RAGLAND,DBROWN,DERRICK BROWN,503,15165,SAMURAI INC,36363-001,2023-10-04,40,2023-10-18,2023-10-12,E,2023-10-09,2023-10-09,3,Not on Time
21933,KROGERS,KEENA ROGERS,BRAGLAND,BREANNA RAGLAND,DBROWN,DERRICK BROWN,503,15166,GFS BRIGHTON,10629-457,2023-10-19,42,2023-11-02,2023-11-02,E,2023-10-24,2023-10-24,3,Not on Time
21934,KROGERS,KEENA ROGERS,BRAGLAND,BREANNA RAGLAND,DBROWN,DERRICK BROWN,503,15171,SYSCO SAN FRANCISCO,35497-005,2023-11-01,44,2023-11-22,2023-11-20,E,2023-11-06,2023-11-06,3,Not on Time
21935,KROGERS,KEENA ROGERS,BRAGLAND,BREANNA RAGLAND,DBROWN,DERRICK BROWN,503,15174,BADGER POPCORN & CONCESSI,10840-002,2023-11-13,46,2023-12-01,2023-12-01,E,2023-11-15,2023-11-15,2,On Time
21936,KROGERS,KEENA ROGERS,BRAGLAND,BREANNA RAGLAND,DBROWN,DERRICK BROWN,503,15175,SAMURAI INC,36363-001,2023-11-15,46,2023-12-01,2023-11-27,E,2023-11-17,2023-11-17,2,On Time

In [28]:
def anonymize_df(df):
    columns_to_anonymize = ['profile_name', 'enter_by_name', 'leader_name', 'loc', 'order', 'customer_name', 'customer']

    for column in columns_to_anonymize:
        unique_values = df[column].unique()
        if df[column].dtype == 'object':
            fake_values = [fake.unique.name() for _ in range(len(unique_values))]
        else:
            fake_values = [fake.unique.random_number() for _ in range(len(unique_values))]
        mapping_dict = dict(zip(unique_values, fake_values))
        df[column] = df[column].map(mapping_dict)

    return df

# Reset the unique generators after using them
fake.unique.clear()

# Anonymize the DataFrame
df = anonymize_df(df)

In [29]:
df = generate_columns(df)

In [30]:
df

,profile_owner,profile_name,enter_by,enter_by_name,leader,leader_name,loc,order,customer_name,customer,order_date,week_number,delivery_date,ship_date,order_ack,date_acknowledge,date_acknowledgement_calc,days_to_acknowledge,On Time
0,NVargas,Nathan Vargas,CCarroll,Christina Carroll,SSchneider,Steven Schneider,2,49472,Bradley Sanders,Jack Stevens,2023-10-13,41,2024-03-13,2024-03-13,E,2023-11-09,2023-11-09,19,Not on Time
1,NVargas,Nathan Vargas,CCarroll,Christina Carroll,SSchneider,Steven Schneider,2,39692,Bradley Sanders,Jack Stevens,2023-10-18,42,2024-03-13,2024-03-13,E,2023-11-09,2023-11-09,16,Not on Time
2,NVargas,Nathan Vargas,CCarroll,Christina Carroll,SSchneider,Steven Schneider,2,7,Bradley Sanders,Jack Stevens,2023-10-18,42,2024-03-13,2024-03-13,E,2023-11-09,2023-11-09,16,Not on Time
3,NVargas,Nathan Vargas,CCarroll,Christina Carroll,SSchneider,Steven Schneider,2,92822879,Bradley Sanders,Jack Stevens,2023-10-18,42,2024-03-13,2024-03-13,E,2023-11-09,2023-11-09,16,Not on Time
4,NVargas,Nathan Vargas,CCarroll,Christina Carroll,SSchneider,Steven Schneider,2,75,Bradley Sanders,Jack Stevens,2023-10-18,42,2024-03-13,2024-03-13,E,2023-11-09,2023-11-09,16,Not on Time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21932,RJackson,Ryan Jackson,ELewis,Eric Lewis,LCraig,Lori Craig,607972246,387584833,Jason Jones,Justin Ray,2023-10-04,40,2023-10-18,2023-10-12,E,2023-10-09,2023-10-09,3,Not on Time
21933,RJackson,Ryan Jackson,ELewis,Eric Lewis,LCraig,Lori Craig,607972246,5574184,Curtis Fox,Justin Pruitt,2023-10-19,42,2023-11-02,2023-11-02,E,2023-10-24,2023-10-24,3,Not on Time
21934,RJackson,Ryan Jackson,ELewis,Eric Lewis,LCraig,Lori Craig,607972246,5484037,Michelle King,Mrs. Tracy Perkins,2023-11-01,44,2023-11-22,2023-11-20,E,2023-11-06,2023-11-06,3,Not on Time
21935,RJackson,Ryan Jackson,ELewis,Eric Lewis,LCraig,Lori Craig,607972246,33483443,Sharon Howard,Brandon Soto,2023-11-13,46,2023-12-01,2023-12-01,E,2023-11-15,2023-11-15,2,On Time
21936,RJackson,Ryan Jackson,ELewis,Eric Lewis,LCraig,Lori Craig,607972246,737,Jason Jones,Justin Ray,2023-11-15,46,2023-12-01,2023-11-27,E,2023-11-17,2023-11-17,2,On Time

In [33]:
# Export the DataFrame to an Excel file
df.to_excel('anonymized_data.xlsx', index=False)